* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100%;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(121, 147, 121);
}
.pannel {
  height: 85%;
  background-color: white;
  width: 85%;
  border-radius: 4px;
  overflow: hidden;
}
.pannel-top {
  background-color: rgba(65, 120, 65, 0.89);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  gap: 10%;
}
.pannel-top-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.txt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 193, 15);
}
.pannel-bottom {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.bubble {
  height: 25px;
  width: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-radius: 50%;
  background-color: green;
  color: white;
  margin: 5px;
  font-family: Tahoma, sans-serif;
}
.bubble:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.finish {
  color: rgb(255, 255, 255);
  background-color: rgb(6, 187, 0);
display: block;
  padding: 20px;
  border-radius: 5px;
}

.btn {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: absolute;
    top: 200px;

  }
  .btn:hover{
    background-color: #000000;
    color: white;
    
  }